<div class="container">
  <div class="row">
      <h2>QuakeML Source</h2>
  </div>
  <div class="row">
    <div class="col-md-12">  
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a routerLink="web-service" routerLinkActive="active" class="nav-link active">Web-Service link</a>
          </li>
          <li class="nav-item">
            <a routerLink="xml-text" routerLinkActive="active" class="nav-link">XML text</a>
          </li>
          <li class="nav-item">
            <a routerLink="xml-file" routerLinkActive="active" class="nav-link">XML file</a>
          </li>
        </ul>
    </div>
  </div>
</div>

<br>

<router-outlet></router-outlet>
